[Desktop Entry]
Name=Graphite
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/Graphite/Graphite.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
