[Desktop Entry]
Name=Graphite
Comment=Natural Drawing Application
Exec=/usr/bin/qmlscene $@ /usr/share/graphite/Graphite.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
